<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyberWare|Fast & easy eCommerce website</title>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="image/cyberWare/favicon/favicon.ico">

    <!--CDN Links-->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- <link href="libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" /> -->
    <link href="libs/slick-carousel/slick/slick.css" rel="stylesheet" />
    <link href="libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
    <link href="libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
    <link href="libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
    <link href="libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/cyberWare/theme.min.css">

  </head>

  <body>
    <h2>hdjkl;</h2>
    <%- include('header.ejs')%>
    <%- body %>

    <%- include("footer.ejs")%>
    <!-- Javascript-->
    <!-- Libs JS -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="libs/slick-carousel/slick/slick.min.js"></script>
    <script src="libs/simplebar/dist/simplebar.min.js"></script>
    <script src="libs/nouislider/dist/nouislider.min.js"></script>
    <script src="libs/wnumb/wNumb.min.js"></script>
    <script src="libs/rater-js/index.js"></script>
    <script src="libs/prismjs/prism.js"></script>
    <script src="libs/prismjs/components/prism-scss.min.js"></script>
    <script src="libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="libs/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="libs/inputmask/dist/jquery.inputmask.min.js"></script>
    <!-- Theme JS -->
    <script src="js/cyberWare/theme.min.js"></script>

  </body>

</html>